<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ar.com.wolox.rebelde">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="ar.com.wolox.rebelde.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/general_app_name"
        android:roundIcon="@mipmap/ic_launcher_rounded"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activity: Splash -->
        <activity
            android:name="ar.com.wolox.rebelde.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Activity: Main -->
        <activity
            android:name="ar.com.wolox.rebelde.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

    </application>
</manifest>
